<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= @reminder.title %></h1>
<p>
  <%= @reminder.description %>
</p>
</body>
</html>
